#home-title {
    text-align: center;
    background-color: pink;
    top: 0px;
    left: 50%;
    font-size: 55px;
}

#page-center {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: pink;
}

#about-link {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}

#cool-math {
    position: fixed;
    text-align: center;
    background-color: pink;
    bottom: 0px;
    padding: 10px;
}

#about-body {
    background-color: greenyellow;
}

#about {
    width: 1000px;
    margin: auto;
    padding: 15px;
}

#info {
    background-color: white;
    border: 3px solid blue;
    padding: 10px;
}

#quote-container {
    margin-top: 20px;
}

#quote-generator {
    margin-top: 20px;
    border: 3px solid blue;
    background-color: white;
    padding-bottom: 10px;
}

.quote-element {
    text-align: center;
    font: 20px "Trebuchet MS", Helvetica, sans-serif;
    color: red;
}

.sunny-image {
    height: 504px;
    width: 884px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#cat-moods {
    margin-top: 20px;
    border: 3px solid blue;
    background-color: white;
    padding-bottom: 10px;
}

#cat-moods-container img {
    margin-top: 20px;
}

.cat-image {
    height: 500px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#site-crack {
    margin-top: 30px;
}

.crack-image {
    width: 419px;
    height: 319px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.crack-text {
    text-align: center;
    font: 20px "Trebuchet MS", Helvetica, sans-serif;
}

#comment-container {
    margin-top: 10px;
}

#insert-comment {
    width: 79%;
    height: 150px;
    padding: 10px;
    background-color: #DCDCDC;
}

.comment {
    padding: 10px;
    margin-top: 10px;
    border: 3px dashed #8ebf42;
    background-color: #FFC0CB;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.comment-mood-img {
    float: right;
    width: 100px;
    height: 100px;
}

.comment-img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-bottom: 10px;
}

.delete-button {
    display: block;
} 
